################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OsaGaiusProject2.zip
/DigitalUpscaleManagerSite/App_Data/Digital Manager.ldb
